.whatsGreat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 44px;
    padding-bottom: 44px;
    border: 1px solid #E4E5E7;
    border-top: 2px solid #E4E5E7; 
}

.whatsWrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.whatsFlex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.whatsContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 250px;
    color: #0e1724;
}

.title {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 60px;
}

.contentTitle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.47;
}

.shift {
    margin-right: 70px;
}

.shiftB {
    margin-right: 50px;
}

/* @media screen and(max-width: 800px) {
    .whatsWrapper {
        border: 1px solid blue;
        padding: 0;
    }
} */

@media screen and(max-width: 800px) {
    .whatsContent {
        width: fit-content;
    }
}

@media  screen and (max-width: 800px) {
    .title { 
        margin-left: auto;
        margin-right: auto;
    }
}


@media  screen and (max-width: 500px) {
    .title { 
        font-size: 26px;
    }
}

@media  screen and (max-width: 800px) {
    .whatsFlex { 
        justify-content: center;
    }
}

@media  screen and (max-width: 800px) {
    .whatsContent {
        width: 100%;
        margin-right: 30px;
        margin-bottom: 40px;
        justify-content: center;
    }
}

@media  screen and (max-width: 800px) {
    .contentTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

@media  screen and (max-width: 1000px) {
    .whatsContent {
        margin-bottom: 30px;
    }
}